@import "tailwindcss";

@theme {
  --color-primary-50: #fee2e2;
  --color-primary-100: #fecaca;
  --color-primary-500: #ef4444;
  --color-primary-600: #dc2626;
  /* Netflix Red */

  --color-background: #141414;
  /* OTT Deep Dark */
  --color-foreground: #ffffff;
  /* White text */

  --color-muted: #262626;
  --color-muted-foreground: #a3a3a3;

  --color-card: #18181b;
  --color-card-foreground: #ffffff;

  --color-border: #27272a;
}

@utilities {
  .netflix-gradient {
    background: linear-gradient(to top, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0) 100%);
  }
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased;
    overflow-x: hidden;
  }
}